*,
*::before,
*::after { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body, h1, h2, h3, p, ul { margin: 0; }

body {
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}
