*, *::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body, h1, h2, h3, h4, p, ul, ol { margin: 0; }
ul[role='list'], ol[role='list'], ul { padding: 0; }
body { min-height: 100vh; }
img { max-width: 100%; display: block; }
input, button, textarea, select { font: inherit; }
a { color: inherit; }
